body {
    background: #222831;
    color: #eeeeee;
}

#control {
    -webkit-app-region: drag;
    width: 100%;
    height: 100vh;
    z-index: 99;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;
}

#download {
    position: absolute;
    bottom: 15px;
    width: 80%;
    left: 10%;
    height: 25px;
    background: #393e46;
    color: #00adb5;
    border-radius: 6px;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 10px #00adb5;
    /* animation: glow 1.5s ease-in-out infinite alternate; */
}
#download-label {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #00adb5;
    animation: text-glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px #00adb5, 0 0 20px #00adb5;
        color: #00adb5;
    }
    100% {
        box-shadow: 0 0 30px #00adb5, 0 0 60px #00adb5;
        color: #fff;
    }
}

@keyframes text-glow {
    0% {
        text-shadow: 0 0 10px #00adb5, 0 0 20px #00adb5;
        color: #00adb5;
    }
    100% {
        text-shadow: 0 0 30px #00adb5, 0 0 60px #00adb5;
        color: #fff;
    }
}